In [6]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time
import datetime as dt
from datetime import date, datetime, timedelta

In [2]:
p1 = Path.cwd() / 'data'

In [3]:
pd.to_datetime(pd.Series([10, 100, 1000, 10000]), unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [7]:
date = date(year=2013, month=6, day=7)
time = dt.time(hour=12, minute=30, second=19, microsecond=463198)

In [8]:
td = timedelta(weeks=2, days=5, hours=10, minutes=20, seconds=7)
td

datetime.timedelta(days=19, seconds=37207)

In [9]:
date + td

datetime.date(2013, 6, 26)

In [10]:
pd.Timestamp('2016-01-10')

Timestamp('2016-01-10 00:00:00')

In [11]:
pd.to_datetime('2015-05-13')

Timestamp('2015-05-13 00:00:00')

In [12]:
pd.to_datetime(100, unit='D', origin='2013-01-01')

Timestamp('2013-04-11 00:00:00')

In [13]:
pd.to_datetime(pd.Series([10, 100, 1000, 10000]), unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [20]:
pd.to_datetime(pd.Series(['12-5-2015', '14-1-2013', '20-12-2017', '40-23-2017']), dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [21]:
pd.DateOffset(years=6, months=5, days=3, hours=12, minutes=6)

In [23]:
ts = pd.to_datetime('2016-10-1 04:23:23')
ts.ceil('h'), ts.ceil('12h'), ts.floor('12h'), ts.floor('min')

(Timestamp('2016-10-01 05:00:00'),
 Timestamp('2016-10-01 12:00:00'),
 Timestamp('2016-10-01 00:00:00'),
 Timestamp('2016-10-01 04:23:00'))

In [24]:
ts.year, ts.month, ts.day, ts.hour, ts.minute, ts.second

(2016, 10, 1, 4, 23, 23)

In [25]:
ts.dayofweek, ts.dayofyear, ts.daysinmonth

(5, 275, 31)

In [26]:
ts.to_pydatetime()

datetime.datetime(2016, 10, 1, 4, 23, 23)

In [27]:
td.total_seconds()

1678807.0

In [29]:
crime = pd.read_hdf(p1 / 'crime.h5', 'crime')
crime = crime.set_index('REPORTED_DATE')
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0

In [31]:
crime.loc['2016-05-12'].shape

(243, 7)

In [33]:
crime.sort_index().loc['2015-03-04':'2015-12-31']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-03-04 00:11:00,assault-dv,other-crimes-against-persons,-105.021966,39.770883,sunnyside,1,0
2015-03-04 00:19:00,assault-dv,other-crimes-against-persons,-104.978988,39.748799,five-points,1,0
2015-03-04 00:27:00,theft-of-services,larceny,-105.055082,39.790564,regis,1,0
2015-03-04 00:49:00,traffic-accident-hit-and-run,traffic-accident,-104.987454,39.701378,washington-park-west,0,1
2015-03-04 01:07:00,burglary-business-no-force,burglary,-105.010843,39.762538,highland,1,0
...,...,...,...,...,...,...,...
2015-12-31 23:35:00,drug-cocaine-possess,drug-alcohol,-104.988019,39.753420,five-points,1,0
2015-12-31 23:40:00,traffic-accident,traffic-accident,-104.945076,39.736768,congress-park,0,1
2015-12-31 23:44:00,drug-cocaine-possess,drug-alcohol,-104.966814,39.746460,city-park-west,1,0
2015-12-31 23:45:00,violation-of-restraining-order,all-other-crimes,-105.034887,39.741827,west-colfax,1,0
2015-12-31 23:50:00,weapon-poss-illegal-dangerous,all-other-crimes,-105.032769,39.709188,westwood,1,0

In [35]:
crime.index.dtype, crime.index[:2]

(dtype('<M8[ns]'),
 DatetimeIndex(['2014-06-29 02:01:00', '2014-06-29 01:54:00'], dtype='datetime64[ns]', name='REPORTED_DATE', freq=None))

In [37]:
crime = pd.read_hdf(p1 / 'crime.h5', 'crime')
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0

In [38]:
crime[crime['REPORTED_DATE'] == '2016-05-12 16:45:00']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
300905,traffic-accident,traffic-accident,2016-05-12 16:45:00,-104.847024,39.779596,montbello,0,1
302354,traffic-accident,traffic-accident,2016-05-12 16:45:00,-105.049180,39.769296,west-highland,0,1
302373,fraud-identity-theft,white-collar-crime,2016-05-12 16:45:00,-104.931971,39.717359,hilltop,1,0

In [40]:
crime[crime['REPORTED_DATE'].between('2016-05-12', '2016-05-13', inclusive='both')].sort_values(by='REPORTED_DATE')

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
310555,public-order-crimes-other,all-other-crimes,2016-05-12 00:05:00,-104.987417,39.727275,civic-center,1,0
315074,curfew,public-disorder,2016-05-12 00:07:00,-104.987432,39.726668,lincoln-park,1,0
312836,traf-other,all-other-crimes,2016-05-12 00:13:00,-105.053191,39.719419,barnum-west,1,0
310538,police-false-information,all-other-crimes,2016-05-12 00:33:00,-104.965948,39.764498,cole,1,0
311301,traf-habitual-offender,all-other-crimes,2016-05-12 01:01:00,-104.902327,39.771602,stapleton,1,0
...,...,...,...,...,...,...,...,...
299407,traf-other,all-other-crimes,2016-05-12 23:50:00,-104.940571,39.764474,clayton,1,0
304599,violation-of-restraining-order,all-other-crimes,2016-05-12 23:51:00,-105.017241,39.705845,athmar-park,1,0
315139,criminal-trespassing,all-other-crimes,2016-05-12 23:51:00,-105.017241,39.705845,athmar-park,1,0
295715,criminal-mischief-other,public-disorder,2016-05-12 23:51:00,-105.017241,39.705845,athmar-park,1,0
302355,traf-other,all-other-crimes,2016-05-12 23:55:00,-105.034518,39.748189,sloan-lake,1,0

In [42]:
crime[crime['REPORTED_DATE'].between('2016-05', '2016-05-31 23:59:59', inclusive='both')].sort_values(by='REPORTED_DATE')

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
289289,theft-other,larceny,2016-05-01 00:03:00,-104.948370,39.740322,city-park,1,0
283336,criminal-mischief-other,public-disorder,2016-05-01 00:09:00,-104.963126,39.738641,cheesman-park,1,0
283335,threats-to-injure,public-disorder,2016-05-01 00:09:00,-104.963126,39.738641,cheesman-park,1,0
289275,disturbing-the-peace,public-disorder,2016-05-01 00:09:00,-104.963126,39.738641,cheesman-park,1,0
165247,vehicular-eluding-no-chase,all-other-crimes,2016-05-01 00:27:00,-105.022877,39.692959,ruby-hill,1,0
...,...,...,...,...,...,...,...,...
316279,traf-habitual-offender,all-other-crimes,2016-05-31 23:31:00,-104.903518,39.683885,indian-creek,1,0
317825,public-order-crimes-other,all-other-crimes,2016-05-31 23:31:00,-104.903518,39.683885,indian-creek,1,0
311934,burglary-residence-no-force,burglary,2016-05-31 23:34:00,-104.886163,39.741763,east-colfax,1,0
314189,assault-dv,other-crimes-against-persons,2016-05-31 23:34:00,-104.886163,39.741763,east-colfax,1,0
309627,theft-other,larceny,2016-05-31 23:53:00,-104.963061,39.740170,city-park-west,1,0