In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import scipy.stats as ss

In [28]:
econo = pd.read_csv(Path.cwd() / 'data' / 'econo1992.csv').iloc[:, 1:]
econo.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,275,742,3462,1068,2394,20851,16611,26645,15.6,17.9,6871,9619,32883
1,306,829,4176,1624,2552,24179,18923,32006,18.0,20.0,6485,8701,33505
2,386,1256,7465,3225,4240,26954,22330,36740,19.2,20.6,8175,16572,34103
3,523,1871,11312,4460,6852,35542,30209,43984,27.3,25.6,8843,16884,34692
4,573,2544,12355,5081,7274,46019,38378,61590,34.6,30.0,10129,18420,35281

In [29]:
np.linalg.matrix_rank(econo.values)

13