In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import scipy as sp

In [4]:
gss = pd.read_csv(Path.cwd() / 'data' / 'gss_bayes.csv')
gss.head()

   caseid  year   age  sex  polviews  partyid  indus10
0       1  1974  21.0    1       4.0      2.0   4970.0
1       2  1974  41.0    1       5.0      0.0   9160.0
2       5  1974  58.0    2       6.0      1.0   2670.0
3       6  1974  30.0    1       5.0      4.0   6870.0
4       7  1974  48.0    1       5.0      4.0   7860.0

In [13]:
(pd.concat([gss.dtypes, gss.nunique()], axis=1)
 .rename(dict(enumerate(['dtype', 'nunique'])), axis=1)
)

            dtype  nunique
caseid      int64     4376
year        int64       29
age       float64       72
sex         int64        2
polviews  float64        7
partyid   float64        8
indus10   float64      270

In [14]:
banker = (gss['indus10'] == 6870)
banker.head()

0    False
1    False
2    False
3     True
4    False
Name: indus10, dtype: bool

In [17]:
def prob(ser):
    return ser.sum(), ser.mean()

In [18]:
prob(banker)

(728, 0.014769730168391155)

In [19]:
female = (gss['sex'] == 2)
female.head()

0    False
1    False
2     True
3    False
4    False
Name: sex, dtype: bool

In [20]:
prob(female)

(26511, 0.5378575776019476)