In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import scipy.stats as ss
from scipy.interpolate import interp1d
from scipy.special import expit
from fractions import Fraction
from empiricaldist import Pmf, Cdf
import matplotlib.pyplot as plt
from collections import Counter
import statsmodels.formula.api as smfa

In [2]:
coin = Pmf()
coin['heads'] = Fraction(1, 2)
coin['tails'] = Fraction(1, 2)
coin

heads    1/2
tails    1/2
Name: , dtype: object

In [6]:
dice = Pmf.from_seq([1, 2, 3, 4, 5, 6])
dice, dice([1, 4, 7])

(1    0.166667
 2    0.166667
 3    0.166667
 4    0.166667
 5    0.166667
 6    0.166667
 Name: , dtype: float64,
 array([0.16666667, 0.16666667, 0.        ]))

In [5]:
letters = Pmf.from_seq(list('Mississippi'))
letters, letters['s'], letters('s'), letters('k')

(M    0.090909
 i    0.363636
 p    0.181818
 s    0.363636
 Name: , dtype: float64,
 0.36363636363636365,
 0.36363636363636365,
 0)

In [15]:
prior = Pmf.from_seq(['B1', 'B2'])
likelihood_vanilla = pd.Series([0.75, 0.5], index=['B1', 'B2'])
posterior = prior * likelihood_vanilla
posterior.normalize()
posterior, posterior('B1')

(B1    0.6
 B2    0.4
 Name: , dtype: float64,
 0.6)

In [16]:
posterior *= likelihood_vanilla
posterior.normalize()
posterior

B1    0.692308
B2    0.307692
Name: , dtype: float64

In [18]:
posterior *= (1 - likelihood_vanilla)
posterior.normalize()
posterior

B1    0.529412
B2    0.470588
Name: , dtype: float64