In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
from scipy import stats as ss
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
y = np.array([10,15,8,12,15,
            14,18,21,15,
            17,16,14,15,17,15,18,
            12,15,17,15,16,15])
treat = np.repeat(['A','B','C','D'],[5,4,7,6])
data = pd.DataFrame({'y':y,'treat':treat})
data.head()

    y treat
0  10     A
1  15     A
2   8     A
3  12     A
4  15     A

In [12]:
lmfit = smf.ols('y ~ treat', data=data).fit()
sm.stats.anova_lm(lmfit)

            df  sum_sq    mean_sq         F    PR(>F)
treat      3.0    68.0  22.666667  4.340426  0.018136
Residual  18.0    94.0   5.222222       NaN       NaN