In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/car_segment/fb.csv')
df

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0
3,4,photo,111,0,0,111,0,0,0,0,0
4,5,photo,213,0,0,204,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7045,7046,photo,89,0,0,89,0,0,0,0,0
7046,7047,photo,16,0,0,14,1,0,1,0,0
7047,7048,photo,2,0,0,1,1,0,0,0,0
7048,7049,photo,351,12,22,349,2,0,0,0,0
7049,7050,photo,17,0,0,17,0,0,0,0,0

In [8]:
df[(((df['loves'] + df['wows']) / df['reactions']) > 0.4)
& (((df['loves'] + df['wows']) / df['reactions']) < 0.5)
& (df['type'] == 'video')].shape[0]

90

In [27]:
df = pd.read_csv('data/travel_insurance/t1-data2.csv')
df_2022 = df.set_index('year').T['2022년']
(df_2022 > df_2022.median()).value_counts()[True]

50

In [37]:
df = pd.read_csv('data/travel_insurance/t1-data1.csv')
df = df.dropna(axis=0)
df.iloc[:int(df.shape[0] * 0.6), df.columns.tolist().index('f1')].quantile(0.75)

77.25

In [39]:
df = pd.read_csv('data/travel_insurance/t1-data1.csv')
df.isna().sum().idxmax()

'f1'

In [54]:
df = pd.read_csv('data/hr_data/basic1.csv')
df['f5'] = df['f5'].clip(upper=df['f5'].sort_values(ascending=False).iloc[10])
df[df['age'] >= 80]['f5'].mean()

62.497747125217394

In [63]:
df = pd.read_csv('data/hr_data/basic1.csv')
f1_col = df.iloc[:int(df.shape[0] * 0.7), df.columns.tolist().index('f1')]
before_fillna = f1_col.std()
after_fillna = f1_col.fillna(f1_col.median()).std()
abs(before_fillna - after_fillna)

3.2965018033960725

In [71]:
df = pd.read_csv('data/hr_data/basic1.csv')
age_mean = df['age'].mean()
age_std = df['age'].std()
df.loc[(df['age'] > (age_mean + age_std * 1.5)) | (df['age'] < (age_mean - age_std * 1.5)), 'age'].sum()

473.5