In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv", index_col=0, parse_dates=['trending_date2'])
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [13]:
df.groupby(['channelTitle']).size().sort_values(ascending=False).head(10).index

Index(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       'BANGTANTV', '채널 십오야', '이과장', '총몇명'],
      dtype='object', name='channelTitle')

In [19]:
(df
.query("dislikes > likes")
.sort_values(by='channelId')
.drop_duplicates(subset='channelId')
['channelTitle'].values
)

array(['육지담', '핫도그TV', '(MUTUBE)와꾸대장봉준', '사나이 김기훈', 'Gen.G esports',
       '양팡 YangPang', 'ROAD FIGHTING CHAMPIONSHIP', '철구형 (CHULTUBE)',
       'MapleStory_KR', '나혼자산다 STUDIO', '오메킴TV', '왜냐맨하우스',
       '하얀트리HayanTree', 'ASMR 애정TV'], dtype=object)

In [29]:
(df[['channelId', 'channelTitle']]
.drop_duplicates()
['channelId'].value_counts().to_frame()
.query("channelId > 1")
.shape[0]
)

71

In [41]:
(df.assign(dayname=df['trending_date2'].dt.day_name())
.query("dayname == 'Sunday'")
['categoryId'].value_counts()
.index[0]
)

24

In [47]:
df_dayname = df.assign(dayname=df['trending_date2'].dt.day_name())
pd.crosstab(index=df_dayname['categoryId'], columns=df_dayname['dayname'])

dayname     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [59]:
(df.assign(top_comment=df['comment_count'].div(df['view_count']))
.query("view_count != 0")
.sort_values(by='top_comment', ascending=False)
.iloc[0, 0]
)

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [68]:
df[df['channelId'] == df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'짤툰'

In [70]:
(df[['title','channelId']].value_counts() >= 20).sum()

40